venv/
__pycache__
*.log
experiments/
checkpoints/
gradio_results/
.ipynb_checkpoints
temp_file*
.DS_Store
cem500k_mocov2_resnet50_200ep.pth.tar
deepPI_lucchi_deploy.pth
deepPI_skeletalMuscle_deploy.pth
data/
runs/
models/